header {
  width: 100%;
  border-bottom: #eee solid 1px;
  overflow: hidden;
  font-family: 'Slabo 27px', serif;

  .logo, .addItem {
    float: left;
  }

  .logo {
    width: 15%;
    text-align: center;
    margin-top: 7px;

    .fa {
      font-size: 45px;
      color: #888;
    }
  }

  .addItem {
    width: 85%;
    border-left: #ddd solid 1px;
    padding: 15px 0 20px 25px;

    input {
      width: 220px;
      border: #ddd solid 1px;
    }

    input, p {
      display: inline-block;
    }

    input, button {
      padding: 3px;
      border-radius: 4px;
      padding: 7px 10px;
    }

    p {
      padding: 0 20px;
    }

    button {
      float: right;
      width: 150px;
      border: transparent;
      color: #fff;
      background: #F2BB5A;
      font-weight: bold;
    }
  }
}
