header {
  width: 100%;
  border-bottom: #eee solid 1px;
  overflow: hidden;
  padding-bottom: 15px;

  .logo, .addItem {
    float: left;
  }

  .logo {
    width: 15%;
    text-align: center;

    .fa {
      font-size: 24px;
    }
  }

  .addItem {
    width: 85%;
    border-right: #ddd solid 1px;
    padding-left: 20px;

    input, p {
      display: inline-block;
    }

    input, button {
      padding: 3px;
      border-radius: 4px;
      border: #ddd solid 1px;
    }

    p {
      padding: 0 20px;
    }

    button {
      float: right;
      width: 130px;
    }
  }
}
